.section-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
}

.section-container:hover {
    opacity: 0.9;
}

.section-container h2 {
    margin: 0;
    color: white;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    top: 3rem;
    position: relative;
}

.section-container .button-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20rem;
    text-decoration: none;
}

.section-container .button-container .button {
    padding: 20px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(145deg,#f05a28 0,#ec008c 100%);
}

.section-container .button-container .button:hover {
    padding: 20px;
    background: #f05a28;
}
/* test comment */