.detail-container{
    padding: 2em;
    min-height: 100vh;
    background: lightblue;
}

.detail-container .qa-container{
    height: 25vh;
}

.detail-container .qa-container .topic{
    text-align: center;
    color: white;
}
.detail-container .qa-container .logo{
    height: 50px;
}

.detail-container .accordion .card{
    box-shadow: 0px 3px 8px #888888;
    margin-top: 1em;
    border-radius: 15px;
}
.detail-container .accordion .card .card-header{
    font-size: 1.5em;
    font-weight: 600;
    color: #393e46; 
    background: lightyellow;
}

